.counter-offer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.bf-shelf__wrapper .bf-shelf__home h2,
.bf-shelf__wrapper div[class$=colunas] h2 {
    text-align: center !important;
    color: #434343;
    text-transform: initial;
    max-width: 50%;
    margin: 0px auto !important;
    margin-bottom: 30px !important;
}

.counter-offer .counter,
.counter-offer .promo {
    width: 100%;
    background: whiot;
}

.counter-offer .counter .title,
.counter-offer .promo .title {
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    padding: 5px 0;
}

.counter-offer .promo {
    border-right: solid 1px #003e7e;
    /* border-bottom: solid 19px #003e7e; */
    background: #eaebe6;
}

.counter-offer .promo .title {
    background: #003e7e;
    position: relative
}

.counter-offer .promo .title:after {
    content: '';
    width: 1px;
    height: 100%;
    display: block;
    background: #003e7e;
    position: absolute;
    top: 0;
    right: -1px
}

.counter-offer .promo p {
    display: block;
    font-size: 30px;
    color: #333333;
    font-weight: 400;
    margin: 20px 0;
    text-align: center;
}

.counter-offer .promo p strong {
    color: #003e7e
}

.counter-offer .counter .title {
    background: #003e7e;
    display: none;
}

.counter-offer .counter .counter-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.counter-offer .counter .counter-wrap .icon-offer {
    width: 52px;
    height: 52px;
    display: block;
}

.counter-offer .counter .counter-wrap .icon-offer .a {
    fill: #003e7e;
}

.counter-offer .counter .counter-wrap .icon-offer .c {
    fill: #eaebe6;
}

.counter-offer .counter .counter-wrap .item {
    line-height: normal;
    display: flex;
    padding: 10px;
    position: relative;
    background: white;
    margin: 0 5px;
    border-radius: 6px;
    align-items: center;
    border: 1px solid #d2d2d2;
}

.counter-offer .counter .counter-wrap .item:before {
    content: attr(date-value);
    display: block;
    font-size: 24px;
    font-weight: 500;
    border-right: 1px solid #d2d2d2;
    color: #454545;
    padding-right: 5px;
}

.counter-offer .counter .counter-wrap .item:after {
    content: ':';
    display: none;
    font-size: 30px;
    font-weight: 400;
    color: #3b3b3b;
    position: absolute;
    top: 0;
    right: 0;
}

.counter-offer .counter .counter-wrap .item:last-child:after {
    display: none
}

.counter-offer .counter .counter-wrap .item .description {
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
    color: #454545;
}

@media screen and (max-width: 787px) {

    .counter-offer .promo,
    .counter-offer .counter {
        width: 100%;
        display: block;
        float: left;
        white-space: nowrap;
        min-width: 100%;
    }
}

.bf-shelf__buttons {
    width: 100%;
    display: block;
    position: absolute;
    top: auto;
    bottom: 40%;
    left: 0px;
    z-index: 1;
}

ul.bf-shelf__home {
    position: relative;
}

.bf-shelf__button--next {
    right: -66px;
    position: absolute;
    top: 0;
}

.bf-shelf__button {
    height: 4rem;
    width: 4rem;
}

.bf-shelf__button--previous {
    position: absolute;
    left: -60px;
}

.bf-shelf__button .icon {
    height: 100%;
    width: 100%;
}

section.slideBeneficios .slick-slide {
    display: block;
}

.bf-shelf--full .bf-shelf-item__wrapper {
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid #cdcdcd;
}

.bf-shelf--full .bf-shelf-item__info,
.bf-shelf--full .bf-shelf-item__media {
    border: 0;
}

p.bf-shelf-item__title {
    text-align: center;
    font-size: 16px;
}

section.slideBeneficios p {
    font-size: 16px;
    color: #107d4a;
    text-align: center;
}

body .bf-shelf-item__price--new {
    text-align: center;
}

.smarthint {
    display: none !important;
}

section.slideBeneficios li {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

body .bf-shelf-item__buy .wrap-quantidade,
body.category .bf-shelf-item__buy .wrap-quantidade {
    display: block !important;
    margin-top: 15px;
    margin-right: 0px;
}

.bf-shelf-item__buy a.buy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #087944;
    padding: 0;
    -webkit-border-radius: 2px;
    border-radius: 0px 20px 20px 0px;
    width: 100%;
    height: 48px;
    margin-top: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

.bf-shelf-item__buy a.buy:hover {
    background: #099b56;
}

.bf-shelf-item__buy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bf-benefits .bf-info .benefits--title {
    text-transform: inherit;
    color: #008f4e;
}

.bf-benefits .bf-info .benefits--title {}

.bf-benefits .bf-info p {
    font-size: 12px;
    color: #717171;
}

.bf-benefits .bf-icon {
    width: 4rem;
    height: 4rem;
    margin-right: 15px;
}

.bf-benefits .bf-icon img {
    width: fit-content;
    height: auto;
}

.bf-shelf-item__buy .wrap-quantidade .btn-add {
    height: 48px;
    line-height: 34px;
    color: #087944;
    border-radius: 20px 0px 0px 20px;
}

.bf-shelf-item__buy .wrap-quantidade .btn-add .plus {
    display: flex;
    max-width: 33px;
    justify-content: center;
}