.main .section {
    display: flex;
    flex-direction: column;
}

.main>.section {
    padding: 0 !important;
}

.main>.section .section {
    width: 100%;
    float: left;
    padding: 0;
}

.main>.section .span12 {
    display: block;
    width: 100%;
    *width: 99.94680851063829%
}

.main>.section .span11 {
    float: left;
    width: 91.48936170212765%;
    *width: 91.43617021276594%
}

.main>.section .span10 {
    float: left;
    width: 82.97872340425532%;
    *width: 82.92553191489361%
}

.main>.section .span9 {
    float: left;
    width: 74.46808510638297%;
    *width: 74.41489361702126%
}

.main>.section .span8 {
    float: left;
    width: 65.95744680851064%;
    *width: 65.90425531914893%
}

.main>.section .span7 {
    float: left;
    width: 57.44680851063829%;
    *width: 57.39361702127659%
}

.main>.section .span6 {
    float: left;
    width: 48.93617021276595%;
    *width: 48.88297872340425%
}

.main>.section .span5 {
    float: left;
    width: 40.42553191489362%;
    *width: 40.37234042553192%
}

.main>.section .span4 {
    float: left;
    width: 31.914893617021278%;
    *width: 31.861702127659576%
}

.main>.section .span3 {
    float: left;
    width: 23.404255319148934%;
    *width: 23.351063829787233%
}

.main>.section .span2 {
    float: left;
    width: 14.893617021276595%;
    *width: 14.840425531914894%
}

.main>.section .span1 {
    float: left;
    width: 6.382978723404255%;
    *width: 6.329787234042553%
}

.main>.section section.section.pt1 {
    background: #f0f0f0 url(/arquivos/lp-back01.png?v=123123) no-repeat right top;
    background-size: 80%;
    top: 0;
    right: 0;
}

.main>.section section.section.pt2 {
    background: #fff;
    min-height: 690px;
}

.main>.section section.section.pt3 {
    background: #f0f0f0;
    padding-top: 80px;
}

.main>.section section.section.pt4 {
    background: #fff;
    min-height: 690px;
    padding-top: 80px;
}

.main>.section .titulo {
    font-size: 50px;
    color: #ed1a42;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 210px;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    line-height: 1em;
}

.main>.section .discricao {
    font-size: 18px;
}

.main>.section .button-principal {
    font-size: 17px;
    text-transform: uppercase;
    background: red;
    max-width: 215px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 60px;
    padding: 2px 30px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 35%);
}

.main>.section .button-principal a {
    color: white;
}

.main>.section .conteudo-section,
.main>.section section.section.pt4 .titulo.span12 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.main>.section section.pt1 .discricao {
    font-size: 18px;
    max-width: 570px;
    text-align: center;
    margin: 0 auto;
}

.main>.section section.pt1 .logo-corpo.span12 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 50px;
    padding-bottom: 50px
}

.main>.section section.pt1 .logo-corpo.span12 img {
    max-width: 250px;
}

section section.pt1 .button-principal {
    margin: 30px auto;
}

.main>.section .conteudo-section {
    padding-bottom: 80px
}

.main>.section section.pt2 {
    margin-top: 80px
}

.main>.section section.section.pt2 .titulo {
    text-align: left;
    width: 100%;
    max-width: 100%;
    float: left;
    margin: 20px auto;
}

.main>.section section.section.pt2 .discricao {
    width: 100%;
    float: left;
    text-align: left;
    max-width: 90%;
    margin: 20px auto;
}

.main>.section section.pt2 .img-prod.span12:nth-child(1) {
    margin-top: -180px !important;
}

.main>.section section.pt2 .img-prod.span12:last-child {
    margin-top: 30px;
}

.main>.section section.pt2 .discricao+.img-prod.span12 {
    margin-top: 0px;
}

.main>.section section.section.pt3 .titulo {
    text-align: right;
    width: 100%;
    max-width: 320px;
    float: right;
}

.main>.section section.section.pt3 .discricao {
    width: 100%;
    float: right;
    text-align: right;
    max-width: 90%;
    margin: 20px auto;
}

.main>.section section.section.pt3 .button-principal {
    float: right;
    margin: 20px auto;
    padding: 2px 30px;
    min-width: 240px;
    text-align: center;
}

.main>.section section.section.pt4 .titulo.span2 {
    text-align: left;
    float: left;
    display: block;
    padding: 20px;
}

.main>.section section.section.pt4 .titulo.span10 {
    text-align: left;
    float: left;
    max-width: 640px;
    display: block;
    margin-bottom: 20px;
}

.main>.section section.section.pt4 .sub-titulo.span12 {
    text-transform: uppercase;
    color: #ed1a42;
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width: 767px) {
    .main>.section .conteudo-section {
        display: flex;
        flex-direction: column;
    }

    .main>.section .conteudo-section>* {
        width: 100%;
        margin: 0 auto !important;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main>.section section.pt2 .img-prod.span12 {
        margin: 20px auto;
    }
}

section.section.section--callout {
    display: none;
}

.main>.section--curly {
    display: block !important;
    padding: 44px 0 !important;
}