.principal-manutencao{
    height: 100%;
    max-width: 100%;
    background: #ff2766;
    -webkit-box-shadow: inset 0px 0px 130px 50px rgba(232,7,73,1);
    -moz-box-shadow: inset 0px 0px 130px 50px rgba(232,7,73,1);
     box-shadow: inset 0px 0px 130px 50px rgba(232,7,73,1); 
    -webkit-box-shadow: inset 0px 0px 130px 151px rgba(232,7,73,1);
    -moz-box-shadow: inset 0px 0px 130px 151px rgba(232,7,73,1);
    box-shadow: inset 0px 0px 170px 151px rgba(232,7,73,1);
    max-height: 100%;
}
.logo-principal{
    text-align: center;
    padding-top: 5%;
}
.frase-manutencao{
    text-align: center;
    color: #fff;
    padding-top: 150px;
}
.copyright-manutencao{
    text-align: center;
    color: #fff;
    font-size: 12px;
    border-top: 1px solid #fff;
    margin: 15%;
    padding-top: 30px;
}