/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
    font-family: 'Gotham';
    src: url('/arquivos/Gotham-Book.eot.css');
    src: local('☺'),
         url('/arquivos/Gotham-Book.woff.css') format('woff'),
         url('/arquivos/Gotham-Book.ttf.css') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham';
    src: url('/arquivos/Gotham-Bold.eot.css');
    src: local('☺'),
         url('/arquivos/Gotham-Bold.woff.css') format('woff'),
         url('/arquivos/Gotham-Bold.ttf.css') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham';
    src: url('/arquivos/GothamBlack.eot.css');
    src: url('/arquivos/GothamBlack.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/GothamBlack.woff2.css') format('woff2'),
        url('/arquivos/GothamBlack.woff.css') format('woff'),
        url('/arquivos/GothamBlack.ttf.css') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham Pro';
    src: url('/arquivos/GothamPro.eot.css');
    src: url('/arquivos/GothamPro.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/GothamPro.woff2.css') format('woff2'),
        url('/arquivos/GothamPro.woff.css') format('woff'),
        url('/arquivos/GothamPro.ttf.css') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham Pro';
    src: url('/arquivos/GothamPro-Medium.eot.css');
    src: url('/arquivos/GothamPro-Medium.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/GothamPro-Medium.woff2.css') format('woff2'),
        url('/arquivos/GothamPro-Medium.woff.css') format('woff'),
        url('/arquivos/GothamPro-Medium.ttf.css') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'PWPatchwork';
    src: url('/arquivos/PWPatchwork.eot.css');
    src: url('/arquivos/PWPatchwork.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/PWPatchwork.woff2.css') format('woff2'),
        url('/arquivos/PWPatchwork.woff.css') format('woff'),
        url('/arquivos/PWPatchwork.ttf.css') format('truetype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir LT Std';
    src: url('/arquivos/AvenirLTStd-Book.eot.css');
    src: url('/arquivos/AvenirLTStd-Book.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/AvenirLTStd-Book.woff2.css') format('woff2'),
        url('/arquivos/AvenirLTStd-Book.woff.css') format('woff'),
        url('/arquivos/AvenirLTStd-Book.ttf.css') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir LT Std';
    src: url('/arquivos/AvenirLTStd-Light.eot.css');
    src: url('/arquivos/AvenirLTStd-Light.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/AvenirLTStd-Light.woff2.css') format('woff2'),
        url('/arquivos/AvenirLTStd-Light.woff.css') format('woff'),
        url('/arquivos/AvenirLTStd-Light.ttf.css') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir LT Std';
    src: url('/arquivos/AvenirLTStd-Roman.eot.css');
    src: url('/arquivos/AvenirLTStd-Roman.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/AvenirLTStd-Roman.woff2.css') format('woff2'),
        url('/arquivos/AvenirLTStd-Roman.woff.css') format('woff'),
        url('/arquivos/AvenirLTStd-Roman.ttf.css') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir LT Std';
    src: url('/arquivos/AvenirLTStd-Black.eot.css');
    src: url('/arquivos/AvenirLTStd-Black.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/AvenirLTStd-Black.woff2.css') format('woff2'),
        url('/arquivos/AvenirLTStd-Black.woff.css') format('woff'),
        url('/arquivos/AvenirLTStd-Black.ttf.css') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir LT Std';
    src: url('/arquivos/AvenirLTStd-Medium.eot.css');
    src: url('/arquivos/AvenirLTStd-Medium.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/AvenirLTStd-Medium.woff2.css') format('woff2'),
        url('/arquivos/AvenirLTStd-Medium.woff.css') format('woff'),
        url('/arquivos/AvenirLTStd-Medium.ttf.css') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Life Savers';
    src: url('/arquivos/LifeSavers-Bold.eot.css');
    src: url('/arquivos/LifeSavers-Bold.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/LifeSavers-Bold.woff2.css') format('woff2'),
        url('/arquivos/LifeSavers-Bold.woff.css') format('woff'),
        url('/arquivos/LifeSavers-Bold.ttf.css') format('truetype');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir LT Std';
    src: url('/arquivos/AvenirLTStd-Heavy.eot.css');
    src: local('☺'),
         url('/arquivos/AvenirLTStd-Heavy.woff.css') format('woff'),
         url('/arquivos/AvenirLTStd-Heavy.ttf.css') format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    min-width: 320px;
    background: #fff;
    font-family: 'Avenir LT Std', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}
/* ------------------------------------------------------------ *\
	Quickview
\* ------------------------------------------------------------ */
div#TB_ajaxWindowTitle { display: none; }

div#TB_closeAjaxWindow { position: absolute; top: 52px; right: 25px; width: auto; z-index: 5; display: block; }

div#TB_closeAjaxWindow a#TB_closeWindowButton:before { content: "X"; margin-right: 10px; width: 100%; color: #455a64; position: relative; font-weight: bold; font-size: 16px;}

div#TB_closeAjaxWindow  a#TB_closeWindowButton { -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); margin-left: 10px; font-family: 'Gotham Pro', sans-serif; font-size: 14px; color: #90a4ae; }

.product__head.text-center, .brandName.Singer { text-align: center;}

h2.product__title { font-size: 30px; color: #455a64; font-family: 'Gotham', sans-serif; font-weight: 700; margin-bottom: 5px; margin-top: 0px; text-align: center; line-height: 45px; }

.product__head p, p.preco-a-vista.price-cash { display: none !important; }

.productDescription { text-align: center; color: #263238; font-family: 'Gotham Pro', sans-serif; font-size: 14px; line-height: 1.5; }

.brandName a.brand.singer { color: #e57373 !important; display: inline-block; text-decoration: none; -webkit-transition: opacity .3s; -o-transition: opacity .3s; transition: opacity .3s; font-size: 14px; }

.corpo-comparacao tr.atributos.Especificações { display: none; }

.product-large a#link { -webkit-transition: opacity .3s; -o-transition: opacity .3s; transition: opacity .3s; font-family: 'Gotham Pro', sans-serif; font-size: 14px; font-weight: 100; text-decoration: none; color: #e57373; }

.product__body .product__aside { width:58%; position: relative; display: inline-block; }

.product-large .product__aside div#include { float: right; width: 81%; text-align: center; }

.product__aside img#image-main { width: 65%; }

.product-large .product__aside ul.thumbs { float: left; }

.product-large .product__aside ul.thumbs li { display: block; height: auto; border: 1px solid transparent; }

.product-large .product__content { -webkit-box-flex: 0; -ms-flex: 0 0 40%; flex: 0 0 40%; max-width: 40%; padding-right: 20px; padding-top: 12px; display: inline-block; float: right; }

.buy-button-box {
    display: inline-block;
}

.freight-values {
    background: #f3f3f3;
    padding: 20px;
    margin-top: 20px;
    border: 1px dashed #cfd8dc;
}

.zoomWindow { display:none !important; }

.info .info__section + .info__section { border-top: 1px dashed #cfd8dc; }

.info__section em.valor-por.price-best-price { font-size: 0px; margin-bottom: 5px; }

.plugin-preco strong.skuBestPrice { color: #e57373; font-size: 32px !important; font-weight: 900 !important; line-height: .8; margin-bottom: 4px; font-style: initial; font-family: 'Gotham', sans-serif;}

.plugin-preco em.valor-dividido.price-installments { font-style: initial; width: 100%; display: inline-block; }

.info .info__price span { font-size: 18px; line-height: 1; }

.plugin-preco label.skuBestInstallmentNumber, .plugin-preco label.skuBestInstallmentValue { font-weight: 700; font-size: 16px; color: #455a64; }

a.buy-button.buy-button-ref { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; padding: 12px 42px; font-family: 'Gotham', sans-serif; font-weight: 900; margin-right: 26px; float: left; background: #e53935; color: #fff; border: 1px solid #e53935; -webkit-box-shadow: -1px 12px 21px 0px rgba(229, 57, 53, 0.35); box-shadow: -1px 12px 21px 0px rgba(229, 57, 53, 0.35); }

.quantity-outer .phone { vertical-align: top; }

.quantity-outer label { display: block; width: 100%; font-family: 'Gotham Pro', sans-serif; font-size: 14px; color: #455a64; font-weight: 500; margin-bottom: 4px; }

.phone { padding-left: 18px; position: relative; font-family: 'Gotham Pro', sans-serif; color: #455a64; display: inline-block; line-height: 1; padding-top: 4px;}

.phone i { position: absolute; left: 0; top: 8px; }

.phone span { font-size: 12px; font-weight: 500; margin-bottom: 4px; display: inline-block; }

.phone strong { font-size: 14px; font-weight: 400; display: block; }

p#popupCalculoFreteWrapper, #calculoFrete .header, #calculoFrete .footer, #calculoFrete .quantity { display: none; }

div#ctl00_Conteudo_upnlContent { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; }

fieldset { min-width: 0; padding: 0; margin: 0; border: 0; }

.content { -webkit-box-flex: 0; -ms-flex: 0 1 100%; flex: 0 1 100%; max-width: 100%; padding-left: 57px; }

.info .info__section { padding: 19px 0; }

#calculoFrete .content { padding-left: 0px; }

#calculoFrete label.prefixo { font-size: 14px; color: #455a64; font-weight: 500; font-family: 'Gotham Pro', sans-serif; line-height: 1; white-space: nowrap; margin-right: 15px; }

#calculoFrete input#txtCep { color: rgba(69, 90, 100, .4); font-family: 'Gotham Pro', sans-serif; font-size: 14px; line-height: 1; border: 1px solid #ededed; background: #fff; height: 50px; text-align: center; width: 131px; padding: 0 10px; margin-right: 2px; }

.frete-calcular input#btnFreteSimulacao { height: 50px; width: 62px; padding: 5px; margin-right: 15px; background: transparent; border: 1px solid #ff5252; color: #ff5252; font-family: 'Gotham Pro', sans-serif; font-size: 16px; -webkit-transition: background .3s, color .3s; -o-transition: background .3s, color .3s; transition: background .3s, color .3s; }

.cep-busca a.bt.lnkExterno { font-size: 12px; font-family: 'Gotham Pro', sans-serif; color: #455a64; text-decoration: underline; }