* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background: #fff;
    font-size: 16px
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

ul {
    list-style: none
}

ol {
    padding-left: 30px
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

.height-100 {
    min-height: 100vh
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    display: table
}

.row {
    display: flex;
    flex-wrap: wrap
}

.flex-m-1 {
    flex: 0 0 8.33333%
}

.flex-m-2 {
    flex: 0 0 16.66667%
}

.flex-m-3 {
    flex: 0 0 25%
}

.flex-m-4 {
    flex: 0 0 33.33333%
}

.flex-m-5 {
    flex: 0 0 41.66667%
}

.flex-m-6 {
    flex: 0 0 50%
}

.flex-m-7 {
    flex: 0 0 58.33333%
}

.flex-m-8 {
    flex: 0 0 66.66667%
}

.flex-m-9 {
    flex: 0 0 75%
}

.flex-m-10 {
    flex: 0 0 83.33333%
}

.flex-m-11 {
    flex: 0 0 91.66667%
}

.flex-m-12 {
    flex: 0 0 100%
}

@media screen and (min-width:961px) {
    .flex-1 {
        flex: 0 0 8.33333%
    }
    .flex-2 {
        flex: 0 0 16.66667%
    }
    .flex-3 {
        flex: 0 0 25%
    }
    .flex-4 {
        flex: 0 0 33.33333%
    }
    .flex-5 {
        flex: 0 0 41.66667%
    }
    .flex-6 {
        flex: 0 0 50%
    }
    .flex-7 {
        flex: 0 0 58.33333%
    }
    .flex-8 {
        flex: 0 0 66.66667%
    }
    .flex-9 {
        flex: 0 0 75%
    }
    .flex-10 {
        flex: 0 0 83.33333%
    }
    .flex-11 {
        flex: 0 0 91.66667%
    }
    .flex-12 {
        flex: 0 0 100%
    }
}

[class*=flex-] {
    padding: 0 15px
}

.justify-content-center {
    justify-content: center
}

.justify-content-between {
    justify-content: space-between
}

.justify-content-end {
    justify-content: flex-end
}

.align-items-center {
    align-items: center
}

@media screen and (max-width:960px) {
    .column-m-reverse {
        flex-direction: column-reverse
    }
}

.text-center {
    text-align: center
}

.d-flex {
    display: flex;
    flex-wrap: wrap
}

.no-padding {
    padding: 0
}

h1,
h2,
h3,
li,
p {
    letter-spacing: .1em
}

body {
    background: 0 0;
    font-family: Montserrat
}

section.main-section {
    background: url(/arquivos/Canvas.png) no-repeat;
    background-size: cover;
    background-position-x: 70%;
}

section.main-section image {
    max-width: 100%;
    height: auto
}

section.main-section .h-100 {
    min-height: 100vh
}

section.main-section .text-center {
    text-align: center
}

section.main-section .d-flex {
    display: flex;
    flex-wrap: wrap
}

section.main-section .justify-content-center {
    justify-content: center
}

section.main-section .align-items-center {
    align-items: center
}

section.main-section .titulo-h1 {
    font-size: 70px;
    margin-left: 10%;
    color: #fff;
    font-family: 'FuturaLT';
}

section.main-section .titulo-h2 {
    font-size: 60px;
    margin-left: 10%;
    color: #fff;
    margin-bottom: 5%;
    font-family: 'FuturaLT';
}

section.main-section .titulo-h3 {
    font-size: 34px;
    color: #fff;
    font-family: 'FuturaLT';
    font-weight: 600;
}
section.main-section h1.titulo-h2 strong, 
section.main-section h2.titulo-h2 strong {
    font-weight: 700;

}

section.main-section h2.titulo-h2 strong {
    margin-left: 10%;
    font-family: 'FuturaLT';
}

section.main-section section#benefits-four h2.titulo-h2 strong{
    margin:0px
}

section.main-section .text-p {
    font-family: 'FuturaLT';
    font-weight: 400;
    color: white;
    font-size: 16px;
    margin-bottom: 4%;
    letter-spacing: normal
}
section.main-section .newsletter fieldset>p {
    color:#fff;
    font-size:18px;
    font-weight:400;
    font-size:0;

}

section.main-section h3.newsletter-title{
    color:#fff !important;
    font-weight: 700;
    margin-left:10%;
    font-size: 0;
}
section.main-section .form.form--subscribe > div {
    margin-left:15%;
}

section.main-section .newsletter input[type="text"] {
    max-width: 234px;
    vertical-align: top;
}

section.main-section .newsletter input#newsletterButtonOK{
    border:none;
    color:#fff;
    width: 233px;
    background-color: #7d1d39;
}

section.main-section .newsletter fieldset>p:after {
    content: 'Cadastre-se e receba todas as nossas promoções!';
    font-size: 18px;
    color: #fff;
}

section.main-section fieldset{
    margin-left:10%;
}

section.main-section .form.form--subscribe > div h3 {
    color:white;
    margin-left:10%;
}

section.main-section .form.form--subscribe > div label {
    color:white;
}

section.main-section .counteudo-item {
    margin-top: 2%;
    align-items: center;
    justify-content: center;
}

section.main-section section#benefits {
    margin-bottom: 10%
}

section.main-section .benefits-two {
    background: rgba(66, 62, 72, .84);
    min-height: 375px;
}

section.main-section .benefits-extra {
    background: #423e48;
    text-align:center;
    max-height: 116px;
}

section.main-section .benefits-two img {
    margin-top: -25%
}

section.main-section .form.form--subscribe {
    padding:20px
}

section.main-section .benefits-three .flex-12 {
    margin: 5% 0
}

section.main-section .slider-intro .box-banner>a{
    width: 90%;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

@media screen and (max-width:768px) {
    section.main-section .titulo-h1,
    section.main-section .titulo-h2,
    section.main-section .titulo-h3,
    section.main-section h2.titulo-h2 strong {
        font-size: 30px;
        margin-left: 10%;
        color: #fff;
        width: 100%;
        margin: 10px 0;
        text-align: center
    }

    section.main-section .benefits-extra .titulo-h3 {
        font-size: 20px
    }

    section.main-section .benefits-two img{
        margin-top:0px;
    }

    section#benefits-three .flex-m-12{
        padding:10px
    }

    section.main-section .slider-intro .box-banner>a{
        width: 100%;
        background-position-x: 80%;
    }

    section.main-section .slider-intro .slick-dots{
        bottom: 0px; 
        -webkit-box-shadow:none;
         box-shadow: none; 
    
    }

    section.main-section .slick-dots {
        background: transparent; 
    }
}

.footer .copyright {
    color: #000;
    font-weight: 600;
    font-size: 14px;
    display: block
}