/* Controles */
.search-multiple-navigator{visibility:hidden;}

/* Return to top */
#returnToTop{display:none; position:fixed; bottom:100px; right:0; width:90px; padding:3px 0 0 4px; height:32px; background-color:#FFF; border-radius:4px 0 0 4px;}
#returnToTop span{ font-weight: bold; height: auto; display: none;}
#returnToTop .text{display: none;}
#returnToTop .text2{float:left; font-size:18px; font-weight:normal;}
#returnToTop .arrowToTop{background: url(/arquivos/returnToTop.png) no-repeat #FFF; width: 62px; height: 72px; position: absolute; top: 2px; right: 0; display: block;}

/* SCROLL INFINITO */
#scrollLoading{border:#FFD324 solid 2px; margin:20px auto; line-height:20px; padding:5px; width:100px; background:url("/arquivos/ajax-loader2.gif") no-repeat right center #FFF6BF;}

/* Chilli Beans */
.resultItemsWrapper{position:relative;}