<!-- bibliotecas -->
<script type="text/javascript" src="/arquivos/vwo.js"></script>
<script defer="defer" src="/arquivos/jquery.prettyPhoto.js"></script>
<script defer="defer" src="/arquivos/jquery.livequery.min.js"></script>
<script defer="defer" src="/arquivos/bootstrap.js?u=1"></script>

<!-- default -->
<script async="async" src="https://www.googleoptimize.com/optimize.js?id=OPT-W84SRF6"></script>
<script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-33116477-1"></script>
<script defer="defer" src="/arquivos/pace.min.js"></script>
<script defer="defer" src="/arquivos/menu-responsivo.js"></script>
<script defer="defer" src="/arquivos/advanced-filter.js"></script>
<script defer="defer" src="/arquivos/admake-mini-cart.js"></script>
<script src="/arquivos/vtex-lazyload.min.js?v=2021-00000202"></script>

<!-- custom -->
<script defer="defer" src="/arquivos/default.js?v=2021-00000202"></script>
<script defer="defer" src="/arquivos/corebiz-main.min.js?v=2021-00000202"></script>
<script defer="defer" src="/arquivos/bundle.min.js?v=2021-00000207"></script>

<!-- selos-vitrine -->
<vtex.cmc:selos />
<vtex.cmc:SeloDiasDasMaesCSS />
<!-- end - selos-vitrine -->

<!-- others -->
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-33116477-1');
</script>
.
<!-- Shop back-->
<script type="text/javascript">
    window._st_account = 4718;
    setTimeout(function () {
        (function () {
            var ss = document.createElement('script');
            ss.type = 'text/javascript';
            ss.async = true;
            ss.src = '//app.shoptarget.com.br/js/tracking.js';
            var sc = document.getElementsByTagName('script')[0];
            sc.parentNode.insertBefore(ss, sc);
        })();

        const warningMessage = document.querySelector('.info__content .message');

        if (vtxctx.categoryId == 11) {
            warningMessage.remove();
        }
    }, 5000)
</script>
<script>
    ! function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '462641531393096');
    fbq('track', 'PageView');
</script>