d<div class="modal-pop-up">
    <div>
        <a href="/evento/amor-em-dobro">
            <img src="/arquivos/Pop-up-Pfaff.png" />
        </a>
        <i>x</i>
    </div>
</div>

<style>

    .modal-pop-up {
        position: fixed;
        z-index: 99999999;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 22%);
        display: block;
        top: 0;
        left: 0;
    }

    .modal-pop-up div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .modal-pop-up i {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        background: #cc181c;
        top: -20px;
        font-style: normal;
        color: white;
        position: absolute;
        border: 2px solid white;
        right: -20px;
        border-radius: 60px;
    }
    
</style>

<script>
    
    $(document).ready(function() {
     
        $('.modal-pop-up i').on('click', function() {
            $('.modal-pop-up').hide();
        });
    
    });

</script>