<section class="section section--callout" style="background-image: url(/arquivos/callout-bg.png); background-image: no-repeat">
	<div class="shell">
		<div class="callout">
			<div class="callout__aside">
				<p class="text-pink baixe-e-book">Baixe nosso E-book</p>

				<p>Dicas e novidades.</p>
                <div style="display: none" class="baixarPDF"><vtex.cmc:baixarPDF /></div>
				<div id="baixar-ebook"></div>
			</div><!-- /.callout__aside -->

			<div class="callout__content">
				<div class="form form--subscribe">
				    <!--<vtex.cmc:newsletterOptIn/>-->
				    <div class="newsletter">
				        <p style="position: relative; z-index:2" class="newsletter-title">Receba promoções exclusivas</p>
				        <fieldset>
				            <p style="position: relative; z-index:2">Cadastre-se em nossa newsletter</p>
				            <iframe style="margin-top: -54px; position: relative; z-index:1" src="https://signup.e2ma.net/signup/1863936/1808475/" width="510" height="500" frameborder="0"></iframe>
				        </fieldset>
				    </div>
				</div><!-- /.form -->
			</div><!-- /.callout__content -->
		</div><!-- /.callout -->
	</div><!-- /.shell -->
</section><!-- /.section -->
			
<section class="section section--curly">
	<div class="shell shell--small">
		<div class="cols">
			<div class="col col--1of2 hidden-xs">
				<a href="#" class="logo" alt="Singer">Singer</a>
			</div><!-- /.col col-/-1of2 -->
			
			<div class="col col--1of2 text-right">
				<div class="socials">
					<h5 class="text-pink">Segue a gente!</h5>
					
					<ul>
						<li>
							<a title="Facebook" rel="noopener noreferrer" href="https://pt-br.facebook.com/minhasinger/" target="_blank">
								<i class="ico-facebook hidden-xs">facebook</i>
								
								<i class="ico-facebook-mobile visible-xs-block">facebook</i>
							</a>
						</li>
						
						<!--<li>-->
						<!--	<a href="https://twitter.com/minhasinger" target="_blank">-->
						<!--		<i class="ico-twitter hidden-xs">twitter</i>-->
								
						<!--		<i class="ico-twitter-mobile visible-xs-block">twitter</i>-->
						<!--	</a>-->
						<!--</li>-->
						
						<li>
							<a title="Youtube" rel="noopener noreferrer" href="https://www.youtube.com/minhasinger" target="_blank">
								<i class="ico-youtube hidden-xs">youtube</i>
								
								<i class="ico-youtube-mobile visible-xs-block">youtube</i>
							</a>
						</li>
						
						<li>
							<a title="Instagram" rel="noopener noreferrer" href="https://www.instagram.com/singerbrasil/" target="_blank">
								<i class="ico-instagram-pink hidden-xs">instagram</i>

								<i class="ico-instagram-mobile visible-xs-block">instagram</i>
							</a>
						</li>
					</ul>
				</div><!-- /.socials -->
			</div><!-- /.col col-/-1of2 -->
		</div><!-- /.cols -->
	</div><!-- /.shell -->
</section><!-- /.section -->

<section class="section-info">
	<div class="shell shell--small">
		<div class="section__inner">
			<div class="cols">
				<div class="col col--size4">
				  
				</div><!-- /.col -->
				
				<div class="col">
					<h6>Pague com:</h6>

					<ul class="list-logos">
						<li>
							<img loading="lazy" src="/arquivos/logo1@2x.png" alt="logo-visa" width="33" height="10"/>
						</li>
						
						<li>
							<img loading="lazy" src="/arquivos/logo2@2x.png" alt="logo-mastercard" width="38" height="30"/>
						</li>
						
						<li>
							<img loading="lazy" src="/arquivos/logo3@2x.png" alt="logo-american-express" width="53" height="15"/>
						</li>
				
						
						<li>
							<img loading="lazy" src="/arquivos/logo5@2x.png" alt="logo-hipercard" width="42" height="18"/>
						</li>
					
						
						<li>
							<img loading="lazy" src="/arquivos/logo7@2x.png" alt="logo-diners" width="35" height="29"/>
						</li>
					</ul><!-- /.list-logos -->
				</div><!-- /.col -->
				<div class="col">
						<h6>Selos:</h6>

						<ul class="list-logos">
							<li>
								<img loading="lazy" src="/arquivos/logo11@2x.png" alt="" width="92" height="52"/>
							</li>
							<li>
								<img loading="lazy" src="/arquivos/selo-abree.png" alt="" width="92" height="52"/>
							</li>
						</ul><!-- /.list-logos -->
				</div><!-- /.col -->
			</div><!-- /.cols -->
		</div><!-- /.section__inner -->
	</div><!-- /.shell -->
</section><!-- /.section -->

<div class="bar">
	<div class="shell shell--small">
		<p>Os preços da loja online podem variar em relação as lojas físicas e revendas.</p>
	</div><!-- /.shell -->
</div><!-- /.bar -->