<section class="section section--callout" style="background-image: url(/arquivos/callout-bg-pfaff.png); background-color: #f8ddc8;">
	<div class="shell">
		<div class="callout">
			<div class="callout__aside hidden-xs">
				<h5 class="text-pink">Baixe nossos E-books</h5>

				<p>Dicas e novidades.</p>

				<a href="https://drive.google.com/drive/folders/1uwND9MjDec6gh1eeQHCyQ7bACtkUW1q5" class="btn btn--transparent btn--small">Baixar</a>
			</div><!-- /.callout__aside -->

			<div class="callout__content">
				<div class="form form--subscribe">
				    <vtex.cmc:newsletterOptIn/>
				</div><!-- /.form -->
			</div><!-- /.callout__content -->
		</div><!-- /.callout -->
	</div><!-- /.shell -->
</section><!-- /.section -->
			
<section class="section section--curly">
	<div class="shell shell--small">
		<div class="cols">
			<div class="col col--1of2 text-right">
				<div class="socials">
					<h4 class="text-black">Siga-nos</h4>
					
					<ul>
					    <li>
							<a href="https://www.instagram.com/pfaffoficialbrasil/" target="_blank">
								<img src="/arquivos/insta.png" alt="a imagem contém: logotipo instagram" width="20" height="20"/>
							</a>
						</li>
						
						<li>
							<a href="https://www.facebook.com/PfaffOficialBrasil/" target="_blank">
								<i class="ico-facebook hidden-xs">facebook</i>
								
								<i class="ico-facebook-mobile visible-xs-block">facebook</i>
							</a>
						</li>

					    <li>
							<a href="https://www.youtube.com/user/PfaffOficialBrasil" target="_blank">
								<i class="ico-youtube hidden-xs">youtube</i>
								
								<i class="ico-youtube-mobile visible-xs-block">youtube</i>
							</a>
						</li>
					</ul>
				</div><!-- /.socials -->
			</div><!-- /.col col-/-1of2 -->
			<div class="col col--1of2 hidden-xs">
				<a href="#" class="logo">
				    <img src="/arquivos/logo-pfaff.png?v=636603336061670000" alt="PFAFF Brasil" />
				</a>
			</div><!-- /.col col-/-1of2 -->
		</div><!-- /.cols -->
	</div><!-- /.shell -->
</section><!-- /.section -->

<section class="section-info">
	<div class="shell shell--small">
		<div class="section__inner">
			<div class="cols">
				<div class="col col--size4">
					<h6 class="hidden-xs">
						<i class="ico-question"></i>
						
						<span>Precisa de ajuda?</span>
					</h6>

					<p>
						<!--<strong>Dúvidas sobre produtos:</strong>-->

						<a href="tel:08007022323">0800 702 2323</a>

						<a href="#">
							<small class="visible-xs-block">clique para ligar</small>
						</a>
					</p>

				</div><!-- /.col -->
				
				<div class="col">
					<h6>Pague com:</h6>

					<ul class="list-logos">
						<li>
							<a href="#">
								<img src="/arquivos/logo1@2x.png" alt="a imagem contém: logotipo visa" width="33" height="10"/>
							</a>
						</li>
						
						<li>
							<a href="#">
								<img src="/arquivos/logo2@2x.png" alt="a imagem contém: logotipo mastercard" width="38" height="30"/>
							</a>
						</li>
						
						<li>
							<a href="#">
								<img src="/arquivos/logo3@2x.png" alt="a imagem contém: logotipo american express" width="53" height="15"/>
							</a>
						</li>
						
						<!--<li>
							<a href="#">
								<img src="/arquivos/logo4@2x.png" alt="" width="33" height="17"/>
							</a>
						</li>-->
						
						<li>
							<a href="#">
								<img src="/arquivos/logo5@2x.png" alt="a imagem contém: logotipo hipercard" width="42" height="18"/>
							</a>
						</li>
						
						<li>
							<a href="#">
								<img src="/arquivos/logo7@2x.png" alt="a imagem contém: logotipo" width="35" height="29"/>
							</a>
						</li>
						
						<!--<li>
							<a href="#">
								<img src="/arquivos/logo8@2x.png" alt="" width="32" height="32"/>
							</a>
						</li>-->
					</ul><!-- /.list-logos -->

					<h6>Compra Segura:</h6>

					<ul class="list-logos">
						<li>
							<a href="#">
								<img src="/arquivos/logo9@2x.png" alt="a imagem contém: logotipo site certificado ouro" width="48" height="45"/>
							</a>
						</li>
						
						<li>
							<a href="#">
								<img src="/arquivos/logo10@2x.png" alt="a imagem contém: logotipo site blindado" width="112" height="29"/>
							</a>
						</li>
						
						<li>
							<a href="#">
								<img src="/arquivos/logo11@2x.png" alt="a imagem contém: logotipo certificado" width="92" height="52"/>
							</a>
						</li>
					</ul><!-- /.list-logos -->
				</div><!-- /.col -->
			</div><!-- /.cols -->
		</div><!-- /.section__inner -->
	</div><!-- /.shell -->
</section><!-- /.section -->