<!-- 
 *
 * Desenvolvido por Integrando.se
 * hello@integrando.se
 * 
 * Bootstrap v.3
 *
 -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/arquivos/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/arquivos/vtex-smartResearch.css?v=22072019" />
<link href="/arquivos/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/owl.carousel.css" rel="stylesheet" type="text/css" />
<!--<link href="/arquivos/style.css" rel="stylesheet" type="text/css" />-->
<link href="/arquivos/new-bundle-pfaff.min.css?v=2021-002" rel="stylesheet" type="text/css" />
<meta name="facebook-domain-verification" content="so5ng5vt2b3ibfo8j0he22zj4h3ydb" />
<meta name="google-site-verification" content="73pnyhbtSZs-LM4f92Raz-o2OtAg2GTQF67Hl8QHXWc" />
<meta name="facebook-domain-verification" content="d5p4l2vdfvs6jwdj684jmbjb0mszty" />

<meta name="p:domain_verify" content="30e8e0ac5cd5b7c5c7f480fc1f1745f5"/>


<style>
  li.maquina-de-costura-pfaff[alt="Máquina de Costura Ambition  1.0"] .product__content .product__price.price strong:before {
    content: 'De:';
}

li.maquina-de-costura-pfaff[alt="Máquina de Costura Ambition  1.0"] .product__content .product__price.price strong {
    font-size: 19px;
    color: red;
    text-decoration: line-through;
}

li.maquina-de-costura-pfaff[alt="Máquina de Costura Ambition  1.0"] .product__content .product__price.price strong:after {
    content: 'Para: 3.699,00';
    float: left;
    width: 100%;
    z-index: 99999;
    font-size: 30px;
    color: black;
}

li.maquina-de-costura-pfaff[alt="Máquina de Costura Ambition  1.0"] >div:before {
    content: 'Promoção';
    background: red;
    color: white;
    line-height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    border-radius: 60px;
    border: 2px dashed white;
    box-shadow: 0 0 8px red;
    margin: 10px;
    z-index: 99999;
    position: absolute;
}

li.maquina-de-costura-pfaff[alt="Máquina de Costura Ambition 1.0"] {
    position: relative;
}

</style>