<link rel="preconnect" href="//loja.singer.com.br" crossorigin="crossorigin" />
 <link rel="preconnect" href="//io.vtex.com.br" crossorigin="crossorigin" />
 <link rel="preconnect" href="//singer.vteximg.com.br" crossorigin="crossorigin" />
 <link rel="preconnect" href="//vtex.vtexassets.com" crossorigin="crossorigin" />
 <link rel="preconnect" href="//ajax.googleapis.com" crossorigin="crossorigin" />
 <link rel="preconnect" href="//cdnjs.cloudflare.com" crossorigin="crossorigin" />
 <link rel="preconnect" href="//singer.vtexcommercestable.com.br" crossorigin="crossorigin" />
 <link rel="preconnect" href="//google-analytics.com" crossorigin="crossorigin" />
 <link rel="preconnect" href="//selo.clearsale.com.br" crossorigin="crossorigin" />
 <link rel="preconnect" href="//googletagmanager.com" crossorigin="crossorigin" />
 <link rel="preconnect" href="//rc.vtex.com.br" crossorigin="crossorigin" />
 <link rel="preconnect" href="//fonts.googleapis.com" crossorigin="crossorigin" />
 <link rel="preconnect" href="//fonts.gstatic.com" crossorigin="crossorigin" />
 <link rel="preconnect" href="//selo.compreeconfie.com" crossorigin="crossorigin" />
 <link rel="preconnect" href="//api.instagram" crossorigin="crossorigin" />
 <link rel="preconnect" href="//connect.facebook.net" crossorigin="crossorigin" />
 <link rel="preconnect" href="//app.cartstack.com.br" crossorigin="crossorigin" />
 <link rel="preconnect" href="//plugins.soclminer.com.br" crossorigin="crossorigin" />
 <link rel="preconnect" href="//script.crazyegg.com" crossorigin="crossorigin" />
 <link rel="preconnect" href="//cdn.atendimen.to" crossorigin="crossorigin" />

<!--<link rel="preload" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" as="style" onload="this.rel='stylesheet'"/>-->
<link rel="preload" href="/arquivos/jquery-ui.min.css" as="style" onload="this.rel='stylesheet'"/>

<link rel="stylesheet" type="text/css" href="/arquivos/vtex-smartResearch.css" />
<link href="/arquivos/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!--<link href="/arquivos/owl.carousel.css" rel="stylesheet" type="text/css" />-->
<!--<link href="/arquivos/style.css" rel="stylesheet" type="text/css" />-->
<link href="/arquivos/bundle.min.css?v=2021-00000209" rel="stylesheet" type="text/css" />
<meta name="google-site-verification" content="_GyfA_tEDyUSZsaDoe4FW3Eeb0zBAPfrHMqTSnsBPkE" />
<meta name="google-site-verification" content="1B2X-7MILAZMUe5I3B3CO7t-NUWwl1p4aKYmfyPs71s" />
<meta name="facebook-domain-verification" content="v1ysov32j5m5qpvizy0svgi62si943" />
<meta name="facebook-domain-verification" content="upstqfe69vog5e79awcktg7qe4czpp" />


<script>$instagramUser = 'apple';</script>
<!-- Global site tag (gtag.js) - Google Analytics -->



<!--<style>-->
<!--    .nav  .accordions li.accordion a.accordion__head {-->
<!--        position: relative;-->
<!--    }-->
    
<!--    .nav  .accordions li.accordion a.accordion__head::before {-->
<!--        content: '';-->
<!--        display: block;-->
<!--        position: absolute;-->
<!--        width: 50px;-->
<!--        height: 50px;-->
<!--        top: -25px;-->
<!--        right: -55px;-->
<!--        background: url(/arquivos/selo.png?v=637207011480000000) top left /cover no-repeat;-->
<!--        z-index: 10;-->
<!--    }-->
    
<!--    .nav .accordions li.accordion:last-child a.accordion__head::before {-->
<!--        content: none;-->
<!--    }-->
<!--</style>-->