<div class="section-bar section-bar-compare section-bar--alt section--bordered-top">
	<div class="bg-white">
		<div class="shell shell--small">
			<div class="section__inner">
				<h6>Produtos selecionados,<br/> para você comprar:</h6>

				<ul class="list-products">
					
				</ul><!-- /.list-products -->
				
				<div class="section__actions">
					<a href="javascript:void(0)" class="btn btn--red btn-comparar">Comparar</a>

					<a href="javascript:void(0)" class="btn btn--transparent-red clear-thumbs">Limpar</a>
				</div><!-- /.section__actions -->
			</div><!-- /.section__inner -->
		</div><!-- /.shell -->
	</div><!-- /.bg-white -->
</div><!-- /.section-bar -->