<footer class="footer">
        <a href="javascript:void(0)" class="to-top" style="display: none;"><img src="/arquivos/if_arrow-up.png" alt="Volte ao topo" /></a>
        <div class="shell shell--small">
            <div class="footer__inner">
                <div class="cols accordions">
                    <div class="col col--size3 accordion active open">
                        <h6 class="accordion__head">Políticas</h6>
    
                        <ul class="list-links-alt accordion__body">
                            <li>
                                <a title="Política de Privacidade" href="/politicas/politica-de-privacidade">Política de Privacidade</a>
                            </li>
    
                            <li>
                                <a title="Trocas e Devoluções" href="/politicas/trocas-e-devolucoes">Trocas e Devoluções</a>
                            </li>
                            
                            <li>
                                <a title="Processo de Entrega" href="/politicas/processos-de-entrega">Processo de Entregas</a>
                            </li>
                            
                            <li>
                                <a title="Termos e Condições" href="/politicas/termos-e-condicoes">Termos e Condições</a>
                            </li>
                            
                            <li>
                                <a title="Termos e Condições" href="/Institucional/politica-de-descarte">Política de Descarte</a>
                            </li>
                        </ul><!-- /.list-links-alt -->
                    </div><!-- /.col -->
                    
                    <div class="col col--size2 accordion">
                        <h6 class="accordion__head">Produtos</h6>
    
                        <ul class="list-links-alt list--cols accordion__body">
                            <li>
                                <a title="Máquinas Mecânicas" href="/maquina-de-costura/mecanica/127v">Máquinas Mecânicas</a>
                            </li>
                            
                            <li>
                                <a title="Máquinas Eletrônicas" href="/maquina-de-costura/eletronica/127v">Máquinas Eletrônicas</a>
                            </li>
                            
                            <li>
                                <a title="Máquinas Overloque" href="/maquina-de-costura/overloque/">Máquinas Overloque</a>
                            </li>
                            
                            <li>
                                <a title="Máquinas Bordadeiras" href="/maquina-de-bordar">Máquinas Bordadeiras</a>
                            </li>
                            
                            <li>
                                <a title="Agulhas" href="/agulhas">Agulhas</a>
                            </li>
                            
                            <li>
                                <a title="Vaporizadores" href="/vaporizadores">Vaporizadores</a>
                            </li>
                            
                            <li>
                                <a title="Manequim" href="/manequim">Manequinm</a>
                            </li>
                        </ul><!-- /.list-links-alt -->
                    </div><!-- /.col -->
                    
                    <div class="col col--size3 accordion">
                        <h6 class="accordion__head">Atendimento</h6>
    
                        <ul class="list-links-alt accordion__body">
                                <li>
                                        <a rel="noopener noreferrer" title="Assistência Técnica" href="http://www.singer.com.br/assistencia-tecnica/">Assistência Técnica</a>
                                </li>
            
                            <li>
                                <a title="Fale Conosco" href="/contato">Fale Conosco</a>
                            </li>
    
                            <li>
                                <a title="Meus Pedidos" href="/account#/orders">Meus Pedidos</a>
                            </li>
                            
                            <li>
                                <a title="Códido de Defesa do Consumidor" href="/politicas/codigo-defesa-consumidor" target="_blank">Código de Defesa do Consumidor</a>
                            </li>
                        </ul><!-- /.list-links-alt -->
                    </div><!-- /.col -->
                    
                    <div class="col accordion">
                        
                    </div><!-- /.col -->
                </div><!-- /.cols -->
            </div><!-- /.footer__inner -->
        </div><!-- /.shell -->
    
        <div class="footer__bar">
            <div class="shell shell--small">
                <div class="cols">
                    <div class="footer__content">
                        <p>
                            SINGER do BRASIL IND. COM. LTDA. | Av. Presidente Vargas, 800 - Vila Vitória II - Indaiatuba-SP CEP: 13338-900 CNPJ: <a href="#">61.432.506/0001-64</a>   
                        </p>
                    </div><!-- /.footer__content -->
    
                   
                </div><!-- /.cols -->
            </div><!-- /.shell -->
        </div><!-- /.footer__bar -->
        <!-- NeoAssist -->
        <script type="text/javascript"> 
            setTimeout(function(){
                (function() { 
                    window.NeoAssistTag = {}; 
                    NeoAssistTag.querystring = true; 
                    NeoAssistTag.pageid = ''; 
                    NeoAssistTag.clientdomain = 'singer.neoassist.com'; 
                    var na = document.createElement('script'); 
                    na.type = 'text/javascript'; 
                    na.async = true; 
                    na.src = 'https://cdn.atendimen.to/n.js'; 
                    var s = document.getElementsByTagName('script')[0]; 
                    s.parentNode.insertBefore(na, s); 
                })();
            }, 5000) 
        </script>
    </footer><!-- /.footer -->