<footer class="footer">
	<div class="shell shell--small">
		<div class="footer__inner">
			<div class="cols accordions">
				<div class="col col--size3 accordion active open">
					<h6 class="accordion__head">Políticas</h6>

					<ul class="list-links-alt accordion__body">
						<li>
							<a href="/politicas/politica-de-privacidade">Política de Privacidade</a>
						</li>

						<li>
							<a href="/politicas/trocas-e-devolucoes">Trocas e Devoluções</a>
						</li>
						
						<li>
							<a href="/politicas/processos-de-entrega">Processo de Entregas</a>
						</li>
						
						<li>
							<a href="/politicas/termos-e-condicoes">Termos e Condições</a>
						</li>
					</ul><!-- /.list-links-alt -->
				</div><!-- /.col -->
				
				<div class="col col--size2 accordion">
					<h6 class="accordion__head">Categorias</h6>

					<ul class="list-links-alt list--cols accordion__body">
						<li>
							<a href="/pfaff/maquinas">Máquinas Eletrônicas</a>
						</li>

						<li>
							<a href="/pfaff/acessorios">Acessórios</a>
						</li>
					</ul><!-- /.list-links-alt -->
				</div><!-- /.col -->
				
				<div class="col col--size3 accordion">
					<h6 class="accordion__head">Atendimento</h6>

					<ul class="list-links-alt accordion__body">
						<li>
							<a href="/contato">Fale Conosco</a>
						</li>

						<li>
							<a href="/account/orders">Meus Pedidos</a>
						</li>
						
						<li>
							<a href="/politicas/codigo-defesa-consumidor" target="_blank">Código de Defesa do Consumidor</a>
						</li>
					</ul><!-- /.list-links-alt -->
				</div><!-- /.col -->
				
				<div class="col accordion">
					
				</div><!-- /.col -->
			</div><!-- /.cols -->
		</div><!-- /.footer__inner -->
	</div><!-- /.shell -->

	<div class="footer__bar">
		<div class="shell shell--small">
			<div class="cols">
				<div class="footer__content">
					<p>
						SINGER do BRASIL IND. COM. LTDA. | Av. Presidente Vargas, 800 - Vila Vitória II - Indaiatuba-SP CEP: 13338-900 CNPJ: <a href="#">61.432.506-64</a>
					</p>
				</div><!-- /.footer__content -->

				<div class="footer__aside">
					<p>
						Development with love by: <a href="#"> <img src="/arquivos/corebiz@2x.png" alt="A imagem contém a frase: Desenvolvido com amor por:" width="57" height="12"/></a>

						Powered: <a href="#"> <img src="/arquivos/vtex.png" alt="" width="47" height="17"/> </a>
					</p>
				</div><!-- /.footer__aside -->
			</div><!-- /.cols -->
		</div><!-- /.shell -->
	</div><!-- /.footer__bar -->
	<!-- NeoAssist -->
	<script type="text/javascript"> 
        (function() { 
            window.NeoAssistTag = {}; 
            NeoAssistTag.querystring = true; 
            NeoAssistTag.pageid = ''; 
            NeoAssistTag.clientdomain = 'singer.neoassist.com'; 
            var na = document.createElement('script'); 
            na.type = 'text/javascript'; 
            na.async = true; 
            na.src = 'https://cdn.atendimen.to/n.js'; 
            var s = document.getElementsByTagName('script')[0]; 
            s.parentNode.insertBefore(na, s); 
        })(); 
    </script>
</footer><!-- /.footer -->

<!-- selos seloambition -->
<vtex.cmc:seloambition  />
<!-- selos seloambition -->

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '3439534466104817'); 
fbq('track', 'PageView');
</script>
<!-- End Facebook Pixel Code -->