<div class="header">
    <div class="shell shell--small">
        <div class="header__inner">
            <a href="#" class="nav-trigger visible-xs-block">
                <i class="ico-dots"></i>
            </a>
            <a href="/" class="logo header__logo" alt="Logo Loja Singer" title="Loja Singer">Singer</a>
            <div class="search header__search">
                <vtex.cmc:fullTextSearchBox />
            </div><!-- /.search -->
            <nav class="nav-utilities header__nav">
                <ul>
                    <li class="hidden-xs">
                        <a title="Fale Conosco" href="/contato"><span>Fale Conosco</span></a>
                    </li>
                    <li>
                        <a title="Sua 1° Compra" href="javascript:void(0)">Sua 1ª compra?</a>
                    </li>
                    <li>
                        <a href="/account#/orders">
                            <i class="ico-profile hidden-xs"></i>

                            <i class="ico-profile-mobile visible-xs-block"></i>

                            <span class="hidden-xs">Minha conta</span>
                        </a>
                    </li>
                    <li>
                        <div class="mini-cart col-mini-cart">
                            <a title="Carrinho de Compras" href="/checkout/#/cart" class="btn-mini-cart cart-trigger">
                                <i class="ico-cart hidden-xs"></i>

                                <i class="ico-cart-mobile visible-xs-block"></i>

                                <i class="ico-heart">
                                    <span class="mini-cart-qty-admake">0</span>
                                </i>
                            </a>
                            <div id="mini-cart-admake-aux" class="hidden">
                                <vtex.cmc:miniCart />
                                <vtex.cmc:AmountItemsInCart />
                            </div><!-- #mini-cart-admake-aux -->
                            <div id="mini-cart-admake" style="display:none">
                                <div class="mini-cart-header"></div>
                                <div class="mini-cart-itens">
                                </div>
                                <div class="mini-cart-footer">
                                    <div class="mini-cart-totais">
                                        <strong id="mini-cart-admake-total" class="pull-right"></strong>
                                        <span>Total</span>
                                    </div>
                                    <div class="mini-cart-botao">
                                        <a href="/checkout/#/cart"
                                            class="btn btn-block btn-verde btn-finalizar-compra">Fechar Pedido</a>
                                    </div>
                                </div>
                            </div>
                        </div><!-- .mini-cart -->
                    </li>
                </ul>
            </nav><!-- /.nav-utilities -->
        </div><!-- /.header__inner -->
    </div><!-- /.shell shell-/-small -->
    <div class="header__bar">
        <div class="shell shell--smallest">
            <nav class="nav">
                <div class="nav__head visible-xs-block">
                    <a href="#" class="popup-close nav-close">+</a>
                </div><!-- /.nav__head -->
                <ul class="accordions">
                    <li class="accordion active open">
                        <a title="Maquinas" href="/maquinas-singer" class="accordion__head">Máquinas Domésticas</a>
                    </li>
                    <li class="accordion">
                        <a title="Máquinas Industriais" href="/maquinas-industriais" class="accordion__head">Máquinas Industriais</a>
                    </li>
                    <li class="accordion">
                        <a title="Agulhas" href="/agulhas-singer/" class="accordion__head">Agulhas</a>
                        <div class="dropdown accordion__body">
                            <div class="shell shell--smallest">
                                <div class="dropdown__inner">
                                    <div class="dropdown__content">
                                        <ul class="list-links">
                                            <li>
                                                <a title="Agulha Doméstica"
                                                    href="/agulhas/agulha-domestica?PS=24">Agulha Doméstica</a>
                                            </li>
                                            <li>
                                                <a title="Agulha Industrial" href="/agulhas/agulha-industrial">Agulha
                                                    Industrial</a>
                                            </li>
                                            <li>
                                                <a href="/agulhas/">
                                                    <small>Ver todas</small>
                                                </a>
                                            </li>
                                        </ul><!-- /.list-links -->
                                    </div><!-- /.dropdown__content -->
                                    <div class="dropdown__aside">
                                        <div class="list-banners">
                                            <vtex:bannersmenuagulhas />
                                        </div><!-- /.list-banners -->
                                    </div><!-- /.dropdown__aside -->
                                </div><!-- /.dropdown__inner -->
                            </div><!-- /.shell shell-/-smallest -->
                        </div><!-- /.dropdown -->
                    </li>
                    <!-- Vaporizadores -->
                    <li class="accordion">
                        <a title="Vaporizadores" href="/cuidados-com-a-roupa/" class="accordion__head">Cuidados com a roupa</a>
                        <div class="dropdown accordion__body">
                            <div class="shell shell--smallest">
                                <div class="dropdown__inner">
                                    <div class="dropdown__content">
                                        <ul class="list-links">
                                            <li>
                                                <a title="Ferros" href="/cuidados-com-a-roupa/ferros/">Ferros</a>
                                            </li>
                                            <li>
                                                <a title="Vaporizadores"
                                                    href="/cuidados-com-a-roupa/vaporizadores/">Vaporizadores</a>
                                            </li>
                                            <li>
                                                <a href="/cuidados-com-a-roupa/">
                                                    <small>Ver todos</small>
                                                </a>
                                            </li>
                                        </ul><!-- /.list-links -->
                                    </div><!-- /.dropdown__content -->
                                    <div class="dropdown__aside">
                                        <div class="list-banners">
                                            <!--<vtex:bannersmenuagulhas />-->
                                        </div><!-- /.list-banners -->
                                    </div><!-- /.dropdown__aside -->
                                </div><!-- /.dropdown__inner -->
                            </div><!-- /.shell shell-/-smallest -->
                        </div><!-- /.dropdown -->
                    </li>
                    <!-- Acessórios -->
                    <li class="accordion">
                        <a title="Acessórios" href="/acessorios/" class="accordion__head">Acessórios</a>
                        <div class="dropdown accordion__body">
                            <div class="shell shell--smallest">
                                <div class="dropdown__inner">
                                    <div class="dropdown__content">
                                        <ul class="list-links">
                                            <li>
                                                <a title="Acessórios" href="/acessorios/">Acessórios</a>
                                            </li>
                                            <li>
                                                <a title="Manequim" href="/acessorios/manequim/">Manequim</a>
                                            </li>
                                            <li>
                                                <a title="Máquina Portátil" href="/acessorios/maquina-portatil/">Máquina
                                                    Portátil</a>
                                            </li>
                                            <li>
                                                <a href="/acessorios/">
                                                    <small>Ver todos</small>
                                                </a>
                                            </li>
                                        </ul><!-- /.list-links -->
                                    </div><!-- /.dropdown__content -->
                                    <div class="dropdown__aside">
                                        <div class="list-banners">
                                            <vtex:bannersmenuacessorios />
                                        </div>
                                        <!-- /.list-banners -->
                                    </div><!-- /.dropdown__aside -->
                                </div><!-- /.dropdown__inner -->
                            </div><!-- /.shell shell-/-smallest -->
                        </div><!-- /.dropdown -->
                    </li>
                    <li>
                        <a title="Sobre nós" href="/institucional/quem-somos/">Sobre nós</a>
                    </li>
                </ul>
                <div class="visible-xs-block">
                    <nav class="nav-utilities">
                        <ul>
                            <li>
                                <i class="ico-phone"></i>
                                <span>Televendas</span>
                                <div class="nav__submenu">
                                    <ul>
                                        <li>
                                            <a href="tel:08007022323">
                                                <i class="ico-phone-white"></i>
                                                <strong>
                                                    Telefone

                                                    <span>0800 7022323</span>
                                                </strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- /.nav__submenu -->
                            </li>
                            <li>
                                <a href="#">
                                    <i class="ico-question"></i>

                                    <span>Preciso de ajuda</span>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- /.nav-utilities -->
                </div><!-- /.visible-xs-block -->
            </nav><!-- /.nav -->
        </div><!-- /.shell shell-/-small -->
    </div><!-- /.header__bar -->
</div><!-- /.header -->