<script type="text/javascript" src="/arquivos/vwo.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/arquivos/jquery-ui.min.css" />

<link rel="stylesheet" type="text/css" href="/arquivos/vtex-smartResearch.css" />
<link href="/arquivos/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/arquivos/owl.carousel.css" rel="stylesheet" type="text/css" />
<!--<link href="/arquivos/style.css" rel="stylesheet" type="text/css" />-->
<link href="/arquivos/bundle.min.css?v=04042021-06" rel="stylesheet" type="text/css" />

<meta name="google-site-verification" content="D6EXiYwpULBJ2FyJmEB2s9cI7B7nRrBApg9TRkeEk0Q" />
<script src="https://www.googleoptimize.com/optimize.js?id=OPT-W84SRF6"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://www.googletagmanager.com/gtag/js?id=UA-33116477-1"></script>
<script>$instagramUser = 'apple';</script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-33116477-1');
</script>


<!--<style>-->
<!--    .nav  .accordions li.accordion a.accordion__head {-->
<!--        position: relative;-->
<!--    }-->
    
<!--    .nav  .accordions li.accordion a.accordion__head::before {-->
<!--        content: '';-->
<!--        display: block;-->
<!--        position: absolute;-->
<!--        width: 50px;-->
<!--        height: 50px;-->
<!--        top: -25px;-->
<!--        right: -55px;-->
<!--        background: url(/arquivos/selo.png?v=637207011480000000) top left /cover no-repeat;-->
<!--        z-index: 10;-->
<!--    }-->
    
<!--    .nav .accordions li.accordion:last-child a.accordion__head::before {-->
<!--        content: none;-->
<!--    }-->
<!--</style>-->