<script src="/arquivos/jquery.prettyPhoto.js"></script>
<script src="/arquivos/jquery.livequery.min.js"></script>
<script src="/arquivos/bootstrap.js?u=1"></script>
<script src="/arquivos/pace.min.js"></script>
<script src="/arquivos/owl.carousel.min.js"></script>
<script src="/arquivos/menu-responsivo.js"></script>
<script src="/arquivos/advanced-filter.js"></script>
<script src="/arquivos/admake-mini-cart.js"></script>
<script src="/arquivos/default.js"></script>
<script src="/arquivos/corebiz-main.min.js?v=0193284"></script>
<script src="/arquivos/vtex-lazyload.min.js?v=1230948"></script>
.
<!-- Shop back-->
<script type="text/javascript">
	window._st_account = 4718;
	(function () {
		var ss = document.createElement('script');
		ss.type = 'text/javascript';
		ss.async = true;
		ss.src = '//app.shoptarget.com.br/js/tracking.js';
		var sc = document.getElementsByTagName('script')[0];
		sc.parentNode.insertBefore(ss, sc);
	})();
	
	const warningMessage = document.querySelector('.info__content .message');

    if (vtxctx.categoryId == 11) {
      warningMessage.remove();
    }
</script>

<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '462641531393096');
fbq('track', 'PageView');
</script>