<div class="modal-privacidade">
<div>
    <p>Cookies: armazenamos estatísticas de visitas para aprimorar sua experiência de navegação, saiba mais em nossa <a href="/politicas/politica-de-privacidade">política de privacidade.</a></p>
    <a>ENTENDI E FECHAR</a>
    </div>
</div>


<style>
    
    .modal-privacidade {
        background: rgb(0 0 0 / 54%);
    position: fixed;
    display: block;
    float: left;
    width: 100%;
    color: white;
    height: 80px;
    bottom: 0;
    z-index: 999999999;
    font-size: 17px;
    }
    
    .modal-privacidade div {
        max-width: 1220px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        line-height: 23px;
    }
    
    .modal-privacidade p +a {
            text-align: right;
            color: white;
            width: 43%;
            height: 80px;
            font-size: 13px;
            position: relative;
            margin-right: 10px;
            z-index: 999;
            display: flex;
            justify-content: center;
            align-items: center;
    }
    
    .modal-privacidade a:hover {
        color: #e57373;
    
    }
    
    .modal-privacidade p {
        width: 80%;
    padding: 10px 10px;
    margin: 0;
    font-size: 15px;
    line-height: 15px;
    }
    
</style>