<div class="header">
	<div class="shell shell--small">
		<div class="header__inner">
			<a href="#" class="nav-trigger visible-xs-block">
				<i class="ico-dots"></i>
			</a>
			
			<div class="search header__search">
				<vtex.cmc:fullTextSearchBox/>
			</div><!-- /.search -->

			<nav class="nav-utilities header__nav">
				<ul>
					<li class="hidden-xs">
						<div class="nav__submenu">
							<ul>
								<li>
									<a href="tel:08007022323">
										<i class="ico-phone-white"></i>

										<strong>
											Telefone
											
											<span>0800 7022323</span>
										</strong>
									</a>
								</li>

							</ul>
						</div><!-- /.nav__submenu -->
					</li>
				</ul>
			</nav><!-- /.nav-utilities -->
					
            <a href="/" class="logo header__logo">
                <img src="/arquivos/logo-pfaff.png" alt="PFAFF Brasil" />
            </a>
			<nav class="nav-utilities header__nav__two">
    				<ul>
    					<li>
    						<a href="/account">
    							<i class="ico-profile hidden-xs"></i>
    
    							<i class="ico-profile-mobile visible-xs-block"></i>
    
    						</a>
    					</li>
    					
    					<li>
    					    <div class="mini-cart col-mini-cart">
    					        <a title="Carrinho de Compras" href="/checkout/#/cart" class="btn-mini-cart cart-trigger">
        							<i class="ico-cart hidden-xs"></i>
        							
        							<i class="ico-cart-mobile visible-xs-block"></i>
        
        							<i class="ico-cicle">
        								<span class="mini-cart-qty-admake">0</span>
        							</i>
        						</a>
                                <div id="mini-cart-admake-aux" class="hidden">
                                    <vtex.cmc:miniCart />
                                    <vtex.cmc:AmountItemsInCart />
                                </div><!-- #mini-cart-admake-aux -->
                                <div id="mini-cart-admake" style="display:none">
                                    <div class="mini-cart-header"></div>
                                    <div class="mini-cart-itens">
                                        <!-- recebe itens -->
                                    </div>
                                    <div class="mini-cart-footer">
                                        <div class="mini-cart-totais">
                                            <strong id="mini-cart-admake-total" class="pull-right"><!-- recebe valor total --></strong>
                                            <span>Total</span>
                                        </div>
                                        <div class="mini-cart-botao">
                                            <a href="/checkout/#/cart" class="btn btn-block btn-verde btn-finalizar-compra">Fechar Pedido</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .mini-cart -->
    					</li>
    				</ul>
			</nav><!-- /.nav-utilities -->
		</div><!-- /.header__inner -->
	</div><!-- /.shell shell-/-small -->

	<div class="header__bar">
		<div class="shell shell--smallest">
			<nav class="nav">
				<div class="nav__head visible-xs-block">
					<h2>Menu</h2>

					<a href="#" class="popup-close nav-close">+</a>
				</div><!-- /.nav__head -->
				
				<ul class="accordions">
					<li class="accordion active open">
						<a href="/pfaff/maquinas">Máquinas</a>
					</li>
					
					<li class="accordion">
						<a href="/pfaff/acessorios">Acessórios</a>
					</li>
					
					<li>
						<a href="/institucional/quem-somos/">Sobre Nós</a>
					</li>
					
					<li>
						<a href="/contato">Fale Conosco</a>
					</li>
					
					<li>
						<a href="https://www.instagram.com/pfaffoficialbrasil/" target="_blank">Inspiração</a>
					</li>
					
					<!--<li>-->
					<!--	<a href="/evento/namorados" style="color:red;" target="_blank">Dia Dos Namorados</a>-->
					<!--</li>-->
					
				</ul> 

				<div class="visible-xs-block">
					<nav class="nav-utilities">
						<ul>
							<li>
								<i class="ico-phone"></i>

								<span>Televendas</span>

								<div class="nav__submenu">
									<ul>
										<li>
											<a href="tel:08007022323">
												<i class="ico-phone-white"></i>

												<strong>
													Telefone
													
													<span>0800 7022323</span>
												</strong>
											</a>
										</li>

										<li>
											<a href="#">
												<i class="ico-whatsapp"></i>

												<strong>
													WhatsApp

													<span>11 99294-9627</span>
												</strong>
											</a>
										</li>
									</ul>
								</div><!-- /.nav__submenu -->
							</li>
							
							<li>
								<a href="#">
									<i class="ico-question"></i>

									<span>Preciso de ajuda</span>
								</a>
							</li>
						</ul>
					</nav><!-- /.nav-utilities -->
				</div><!-- /.visible-xs-block -->
			</nav><!-- /.nav -->
		</div><!-- /.shell shell-/-small -->
	</div><!-- /.header__bar -->
</div><!-- /.header -->